.newsSection {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.newsCard {
    margin: 1rem 0;
}

.title {
    margin: 0;
}

.titleContainer {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.titleContainer a {
    text-decoration: none;
    color: grey;
    font-size: 0.9rem;
}

.pointsContainer {
    display: flex;
    gap: 0.3rem;
}

small {
    color: grey;
}