.searchBar {
    width: 100%;
    min-height: 8vh;
    background-color: #ff742b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar input {
    border: none;
    outline: none;
    font-size: 1rem;
    width: 30%;
    border-radius: 5px;
    padding: 1rem;
}